name: ${PROJECT}

services:
  grafana:
    image: "grafana/grafana-oss:12.3.1"
    env_file: .env
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    restart: unless-stopped
    container_name: "grafana"
    networks:
      - net
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - TZ=Europe/Berlin

networks:
  net:
    name: cloudflare-net
    external: true

volumes:
  grafana_data:
